@using Fluxor
@using FluxorSample.Data.Counter
@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@inject IDispatcher Dispatcher
@inject IState<CounterState> _counterState

<div style="padding:16px;" class="modify-container">
    <button 
        disabled="@(counterState.Loading)"
        @onclick="() => Dispatcher.Dispatch(new CounterIncrementButtonClickedAction())"
    >
     Increment   
    </button>
    <button 
        disabled="@(counterState.Loading)"
        @onclick="() => Dispatcher.Dispatch(new CounterDecrementButtonClickedAction())"
    >
     Decrement   
    </button>
</div>
@code {

    public record CounterIncrementButtonClickedAction;
    public record CounterDecrementButtonClickedAction;
    private CounterState counterState => _counterState.Value;
}